<% layout("/layouts/boilerplate") %>
<body>
  <div class="container mt-4">
    <div class="card border-3 rounded shadow-lg p-3 mb-5 bg-white rounded">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="<%= book.photo %>" class="card-img img-fluid rounded" alt="Image" />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h2 class="card-title mb-4"><%= book.title %></h2>
            <h5 class="card-subtitle mb-3 text-muted"><%= book.author %></h5>
            <p class="card-text"><%= book.description %></p>
            
            <% if (currentUser && book.owner.equals(currentUser._id)) { %>
              <a href="/edit/<%= book._id %>" class="btn btn-primary btn-sm mr-2 col-md-2 mx-3 rounded-pill">Edit</a>
              <a href="/delete/<%= book._id %>" class="btn btn-danger btn-sm col-md-2 rounded-pill">Delete</a>
            <% } %>
            
            <br />
            &nbsp;
            <a href="<%= book.pdf %>" class="btn btn-success btn-block mb-3 mt-3 col-md-4 mx-3 rounded-pill">Read PDF</a>
            <p class="card-text">
              <small class="text-muted">- <%= book.date.toLocaleString() %></small>
            </p>
          </div>
        </div>
      </div>
    </div>


</body>
</html>

